@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
* { margin:0; padding:0; box-sizing:border-box; }

.cta {
	border: solid #238AFF;
	color: white;
	background-color: #238AFF;
	display:inline-block;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	padding: 1em 2em;
	margin: 3em .5em 10em;
	text-decoration:none;
}
#splash {
	background-color: white;
	color: #FFC223;
	height: 60vh;
	padding:10em 5em 2em;
	text-align: center;
}
#slogan {
	color: #FFC223;
	text-align: left;
	font-family: 'Passion One', cursive;
	font-size: 5em;
}
#about {
	background: url(../images/ashlee_splash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding:10em 10em;
	text-align: right;
}
#work {
	background: url(../images/microphone.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding:10em 10em;
	text-align: right;
	text-decoration:none;
}
#events {
	background: url(../images/party.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding:10em 10em;
	text-align: right;
	text-decoration:none;
}
#contact {
	background: url(../images/email.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding:10em 10em;
	text-align: right;
	text-decoration:none;
}


#logo {
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	padding: .25em .5em;.;
	color: #238AFF;
}
body {
	text-align: left;
	color: black;
	background-color: white;
	font-size: 16px;
}
nav {
	display: inline-block;
	margin-left: 65em; 
	font-family: 'Roboto Slab', serif;
	color: #FFC223;
	font-size: .75em;
}
section {
	padding:5em 5em;
}
ul {
	padding-left:1.25em;
}
p {
	font-family: 'Crimson Text', serif;
	color: white;
	font-size: 1em
}

h2 {
	color: #B2873B;
	font-family: 'Passion One', cursive;
}
footer {
	text-align: center;
	padding: .5em;
}